<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapSampleServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SoapSampleServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.31.38.228:89/soapsampleservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="SoapSampleServiceSoap"
                contract="SoapSampleServiceSoap" name="SoapSampleServiceSoap" />
            <endpoint address="http://10.31.38.228:89/soapsampleservice.asmx"
                binding="customBinding" bindingConfiguration="SoapSampleServiceSoap12"
                contract="SoapSampleServiceSoap" name="SoapSampleServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>